/* MY FAVORITES SECTION */

.my-favorites-section{
    display:grid;
    grid-template-columns: repeat(7, auto);
    color:#E5E5E5;
    padding: 50px 0;
}

.my-favorites-title{
    grid-column: 1 / span 2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-favorites-title h1{
    font-size:2.2rem;
}
.buttons-container{
    display:flex;
    justify-content: flex-start;
}
.button-left,
.button-right{
    opacity:0.6;
}
.button-left:hover{
    opacity:1;
}
.button-right:hover{
    opacity:1;
}

.button-left{
    margin-right:20px;
}