.switch-span {
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 200;
    border: 1px solid;
    padding: 3px 10px;
    background-color: #548a77;
    transition:background-color 1s;
  }