
/* TODAY-RECOMANDATION SECTION */
.today_recomandation_section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:400px;
    width:auto;
    background-image: url(../../assets/images_and_icons/red-chairs.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    
   
}
.free-column{
    flex:1;
}
.recomandation{
    flex:1;
    display:flex;
    flex-direction:column;
}
.recomandation-title{
    align-self: flex-end;
    padding-right: 20px;
}
.recomandation-title h4{
    color:#E5E5E5;
    font-weight: 200;
    font-size: 1.3rem;
    
}
.recomandation-first-row, 
.recomandation-second-row{
    display:flex;
    justify-content: space-between;
    padding: 20px;
}

.recomandation-movie{
    width:150px;
    height:100px;
    border:1px solid #fff;
}




/* POPULAR-MOVIES SECTION */
.popular_movies_section{
    display:grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 20px 0px;
    padding: 50px 0;
}

.popular_movies-hr{
    width: 70%;
     margin-top:50px; 
     margin-bottom:50px; 
    border-top: 0.5px solid #966800;
}
.popular_movies-title{
    color:#E5E5E5;
    grid-column: 1 / span 2;
}
.popular_movies-title h1{
    
    font-size: 2.2rem;
}
.popular_movies-title h2{
    font-size: 1.7rem;
}
.popular_movies-title h2,h5{
    font-weight: 200;
}
.popular_movies-title h5{
    opacity:0.5;
}
.popular_movies-title h5:hover{
    opacity:1;
}

.popular_movies-title h5 img{
    width: 14px;
    margin-left:5px;
    
}



.text-hr{
    border-top: 0.5px solid #E5E5E5;
    opacity:0.4;
    width:70%;
    margin-left: 0;
}

.movie{
    position:relative;
    width:100px;
    height:150px;
    border:1px solid #fff;
}

.favorite-selector{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #966800;
    background-image: url(../../assets/images_and_icons/selector-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;
    right: -11px;
    bottom: -4px;
    cursor:pointer;
}
.selector{
    opacity:0;
}
.badge{
    position: absolute;
    top:5px;
}

/* MY FAVORITES SECTION */

.my-favorites-section{
    display:grid;
    grid-template-columns: repeat(7, auto);
    color:#E5E5E5;
    padding: 50px 0;
}

.my-favorites-title{
    grid-column: 1 / span 2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-favorites-title h1{
    font-size:2.2rem;
}
.buttons-container{
    display:flex;
    justify-content: flex-start;
}
.button-left,
.button-right{
    opacity:0.6;
}
.button-left:hover{
    opacity:1;
}
.button-right:hover{
    opacity:1;
}

.button-left{
    margin-right:20px;
}