.navbar-brand {
  margin-left: 70px;
  z-index: 1;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

.header-hr {
  width: 70%;
  position: absolute;
  border-top: 0.5px solid #966800;
  top: 54px;
  left: 2px;
}

/* Media Query */

@media screen and (max-width: 800px) {
  .navbar-brand {
    margin-left: 0;
  }
  .header-hr {
    width: 100%;
  }
  .form-inline {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
