/* .navbar{
    position:fixed;
    top:0;
    background-color: #113036;
    width:90%;
} */

.navbar-brand{
    margin-left: 70px;
    z-index:1;
}
.navbar-brand img{
    width:200px;
    height:auto;
    
}

.header-hr{
    width: 70%;
    position: absolute;
    border-top: 0.5px solid #966800;
    top: 54px;
    left: 2px;
}