.search{
    display:flex;
    position:relative;
    flex-direction: column;
    margin-top: 30px;
    background-color:#E5E5E5 ;
    justify-content: center;
    align-items: center;
    padding: 50px 0 80px 0;
    border:1px solid #E5E5E5;
    border-radius:20px;
}
.back-arrow{
    position: absolute;
    top: 20px;
    left: 30px;
    width:40px;
    align-self: flex-start;
}
.back-arrow img{
    width:100%;
}
.search-result-title{
    text-align: center;
    color:#113036;
}
.search-result-title h1{
    font-weight: 200;
    margin-bottom: 50px;
    font-size: 2.2rem;
}

.searched-movies{
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-gap:40px 30px;
}

/* Media Query */

@media screen and (max-width:480px){
    .search-result-title{
        margin-top: 30px;

    }
}


@media screen and (max-width:768px){
    .searched-movies {
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px 20px;
    }

}

@media screen and (min-width:769px) and (max-width:992px){
    .searched-movies {
        grid-template-columns: repeat(4, auto);
        grid-gap: 30px 30px;
    }

}