.movie{
    position:relative;
    display: flex;
    align-items: center;
    width:100px;
    height:150px;
}

.movie img{
    height:100%;
    width:auto;
    border:1px solid #113036;
    border-radius: 10px;
}

.favorite-selector{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #966800;
    background-image: url(../../assets/images_and_icons/selector-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;
    right: -11px;
    bottom: -4px;
    cursor:pointer;
}
.selector{
    opacity:0;
}
.votes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:5px;
    left: 5px;
    width:25px;
    height:25px;
    background-color: #113036;
    border:1px solid #E5E5E5;
    border-radius:50%;
}
.votes h6{
    margin:0;
    margin-bottom: 1px;
    font-size: 0.8rem;
    color:#E5E5E5;
}
